@import '../../styles/variables.scss';

.card-wrapper:not(.no-padding) {
    padding: 20px;
    background: #fff;

    svg {
        max-width: 200px;
        fill: $primary-color;
    }

    .header {
        display: block;
        margin: 20px 0;
        font-weight: 700;
    }

}