.card {
    .suv-car {
        svg {
            max-width: 162px;
        }
    }

    .suv-car {
        svg {
            max-width: 162px;
        }
    }

    .sport-car {
        svg {
            max-width: 223px;
        }
    }

}