@import '../styles/variables.scss';

.shop-page {
    .shop-page-title {
        padding: 20px;
    }

    .sidebar {
        border-right: 1px solid #e2e2e2;

        h4 {
            border-bottom: 3px solid $primary-color;
            display: inline-block;
            margin: 0;
        }

        .filter-list {
            list-style: none;
            padding: 0;

            li {
                cursor: pointer;
                margin-bottom: 10px;

                &::before {
                    content: '► ';
                }
            }
        }
    }
}