@import '../../styles/variables';

.nav-bar-wrapper {
    background-color: #fff;

    .logo {
        max-width: 80px;
    }

    .nav-item {
        display: inline-block;
        font-weight: 700;

        a {
            padding: 10px 20px;
            display: inline-block;

            &:hover {
                opacity: 0.8;
            }
        }

        .active {
            background: #4aab52;
        }
    }

    &.transparent {
        background: #0000002e;
        margin-bottom: -40px;
        border-bottom: 1px solid #ffffff1f;
        position: relative;

        .nav-item {
            a {
                color: #fff;
            }
        }
    }

    &.blue {
        background-color: $primary-color;

        a {
            color: #fff;
        }
    }
}