.newsletterform-wrapper {
    .form-title {
        color: #fff;
        font-weight: 400;
        letter-spacing: 2px;
        margin-bottom: 50px;
    }

    input[type="email"] {
        width: 70%;
        height: 40px;
        font-size: 24px;
        border: none;
        border-bottom: 2px solid #4e89d2;
        background: none;
        color: #fff;

        &::placeholder {
            color: #fff;
            opacity: .5;
        }

        &:focus {
            outline: none;
        }
    }

    button[type="submit"] {
        background: none;
        border: none;
        cursor: pointer;

        svg {
            width: 24px;
            fill: #fff;
            opacity: .7;

            &:hover {
                opacity: 1;
            }

        }

        &:focus,
        &:active {
            outline: none;
        }
    }

    .subscribed-msg {
        color: #fff;
        font-weight: 500;
        font-size: 100%;
        border: 1px dashed #5f92d0;
        padding: 15px;
    }

    .resubscribe-link-offer {
        color: #fff;
        font-weight: 500;
        font-size: 70%;
        margin-top: 30px;
        cursor: pointer;

        &:hover {
            color: #daebff;
        }
    }

}